.hero-section{
    padding : 2rem 0 4rem;
    background : url("./assets/gradient-mobile.svg"),
    url("./assets/dots.svg")
    ;
    background-size:cover;
    font-family: instrument-sans;
    background-repeat: no-repeat;
    background-position:center, center;
    height:70vh;
}

@media screen and (min-width:600px) {
    .hero-section{
        background: url("./assets/gradient-desktop.svg"),
        url("./assets/dots.svg")
        ;
    }
}

.hero-section .inner-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-section header{
    position: sticky;
    transition: .1s ease-in-out;
    top:1rem;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
}

.hero-section header.sticky{
    background-color: #fafafa44;
    backdrop-filter: blur(20px);
    box-shadow: 0 .1rem 1rem .5rem rgba(0, 0, 0, 0.055);
    height:5rem;
    display: flex;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    min-width:100%;
}


.hero-section nav{
    opacity: 0;
    visibility: hidden;
}

.hero-section nav.show{
    opacity: 1;
    visibility: visible;
}

.hero-section nav.show a:hover{
    transition: ease-in .2s ;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transition: ease-in .2s ;
    -moz-transition: ease-in .2s ;
    -ms-transition: ease-in .2s ;
    -o-transition: ease-in .2s ;
}

.hero-section nav ul{
    background-color: #61FB61;
    display:flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    border:1px solid #00000023;
    margin: 0;
    height:20rem;
    justify-content: space-between;
    padding:1.5rem 4rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    z-index: 3;
}

.hero-section nav a{
    font-size: 1.8rem;
    color:#034603;
        text-decoration: none;
        font-family: instrument-sans;
        font-weight: 800;
}

.hero-section ul button{
    background-color: #ddffdd;
    color: #000;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 0%, 0.13);
    display: block;
    margin: 0 0 0 auto;
}

.hero-section nav ul img{
    display: none;
}

.hero-section .hero-text-container{
    width:100%;
    max-width: 55rem;
    margin: auto;
}

.hero-section .menu-btn{
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 0 3rem auto;
}

.hero-section header.sticky .menu-btn{
    margin: 0 5% 0 auto;
}

.hero-section h1{
    font-size: clamp(2.8rem, 4vw, 3rem);
    text-align: center;
    margin: 3rem auto 1rem auto;
    max-width: 40rem;
}

.hero-section h1 .italic{
    font-weight: 100;
    font-style: italic;
}

.hero-section p{
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 3rem 0;
}

.hero-text-container > a{
    text-decoration: none;
    display: block;
   width: fit-content;
   margin: auto;
}

.hero-section .primary-btn{
    border: none;
    display: block;
    margin: auto;
    column-gap: .5rem;
    padding: 1.1rem 2.2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 700px) {
    .hero-section .menu-btn{
        display: none;
    }

    .hero-section nav{
        display: block;
    }

    .hero-section ul img{
        width:2.5rem;
        height:2.5rem;
    }

    .hero-section nav ul{
            display:flex;
            align-items: center;
            justify-content: space-between;
            width:40rem;
            margin: auto;
            background-color: transparent;
            position: static;
            flex-direction: row;
            border:none;
            margin: auto;
            height:auto;
            justify-content: space-between;
            padding:0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
}

    

    .hero-section ul a{
        font-size: 1.4rem;
        color: #000;
        text-decoration: none;
        font-family: instrument-sans;
        font-weight: 500;
    }

    .hero-section nav ul img{
        display: initial;
    }

    .hero-section ul button{
        display:none;
    }

    .hero-section nav{
        opacity: 1;
        visibility: visible;
    }

    .hero-section header.sticky{
        height: 6rem;
    }

    .hero-section header.sticky nav{
        margin: auto;
    }
}
